.img-fluid {
    width: 100%;
}

/* Footer Menu */
.list-inline-item.active a{
    text-decoration: underline;
}
/* Custom Taxonomies Menu Widget */
.sgr-custom-taxonomies-menu ul {
    list-style-type: none;
    padding: 0px;
}

.sgr-custom-taxonomies-menu ul .cat-item a{
    color: rgb(240, 173, 78);
}

/* Links With Icons Widget */
.links_with_icons {
    list-style-type: none;
    padding: 0px;
}

.links_with_icons .link_with_icon a{
    color: rgb(240, 173, 78);
}


/* Pre footer subscription form */
.elp-widget {
    text-align: center;
}

.elp-widget .es_lablebox {
    display: none;
}

.elp-widget .es_textbox {
    display: inline-block;
    color: #666;
}

.elp-widget .es_textbox_class {
    width: 300px;
    border: none;
    padding: 5px 0;
}

.elp-widget .es_button {
    display: inline-block;
    margin-left: -4px;
}

.elp-widget .es_button input {
    background-color: #f0ad4e;
    border: none;
    padding: 5px 0;
}
